.calendar-month-day {
  width: 14.2%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box; }

.calendar-week-day {
  width: 12.5%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box; }

.calendar-day-heading {
  position: absolute !important;
  padding: 3px !important;
  border-right: 1px solid #ddd !important;
  border-radius: 3px !important; }

div.calendar-day-body {
  height: 90px;
  padding-left: 25px;
  padding-top: 4px; }

div.calendar-week-body {
  height: 45px; }

